### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
og_df = pd.read_csv(file_to_load)
og_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
ttl_Plyrs = len(og_df['SN'].value_counts())
total_Players = pd.DataFrame({'Total Players' : ttl_Plyrs}, index = [0])
total_Players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_Items = len(og_df['Item Name'].value_counts())
avg_Price = og_df['Price'].mean().round(2)
total_Revenue = og_df['Price'].sum()
total_Purchases = og_df['Price'].count()

summary_df = pd.DataFrame({'Unique Items' : unique_Items,
                            'Average Price' : avg_Price,
                            'Total Revenue' : total_Revenue,
                            'Total Purchases' : total_Purchases}, index=[0])
summary_df['Average Price'] = summary_df['Average Price'].map('${0:,.2f}'.format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map('${0:,.2f}'.format)
summary_df.head()

   Unique Items Average Price Total Revenue  Total Purchases
0           179         $3.05     $2,379.77              780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_Group = og_df.groupby(['Gender'])
gender_Unique = gender_Group.nunique()
gender_Count = gender_Unique['SN'].sum()

gen_count = gender_Unique['SN'].unique()
percents = gender_Unique["SN"]/gender_Count

gender = pd.DataFrame({'Percentage of Players' : percents,
                          'Total' : gen_count})
gender['Percentage of Players'] = gender['Percentage of Players'].map('{:,.2%}'.format)

gender.head()

                      Percentage of Players  Total
Gender
Female                               14.06%     81
Male                                 84.03%    484
Other / Non-Disclosed                 1.91%     11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
num_Purchase = gender_Unique['Gender'].value_counts()
avg_Price = gender_Group['Price'].mean()
purchase_Sum = gender_Group['Price'].sum()

price_Over = purchase_Sum / gen_count

purch_Sum = pd.DataFrame({'Average Purchase Price' : avg_Price, 
                         'Total Purchased' : purchase_Sum,
                         'Aggregated Total' : price_Over})

purch_Sum['Average Purchase Price'] = purch_Sum['Average Purchase Price'].map('${:,.2f}'.format)
purch_Sum['Total Purchased'] = purch_Sum['Total Purchased'].map('${:,.2f}'.format)
purch_Sum['Aggregated Total'] = purch_Sum['Aggregated Total'].map('${:,.2f}'.format)
purch_Sum

                      Average Purchase Price Total Purchased Aggregated Total
Gender
Female                                 $3.20         $361.94            $4.47
Male                                   $3.02       $1,967.64            $4.07
Other / Non-Disclosed                  $3.35          $50.19            $4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [48]:
bins = [0,9,14,19,24,29,34,39,100]
groups = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '>40']

age_Clean = og_df.drop_duplicates('SN')

age_Clean['Age Group'] = pd.cut(age_Clean['Age'], bins, labels = groups)
age_Demo = age_Clean.groupby(['Age'])

num_Age = gender_Unique['Age'].sum()
age_Purch = age_Clean['Age Group'].value_counts()
age_Percent = num_Age / age_Purch

age_Final = pd.DataFrame({'Total Players' : age_Purch,
                          'Percentage' : age_Percent})

age_Final['Percentage'] = age_Final['Percentage'].map('{:,.2%}'.format)
age_Final

/Users/jwlam/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       Total Players Percentage
20-24            258     26.74%
15-19            107     64.49%
25-29             77     89.61%
30-34             52    132.69%
35-39             31    222.58%
10-14             22    313.64%
<10               17    405.88%
>40               12    575.00%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame